div.success.open{
    visibility: visible;
    opacity: 1;
}

div.success {
    font-size: 1.2rem;
    display: flex;
    gap: .5rem;
    place-items: center;
    place-content: center;
    
    position: absolute;
    right: 0;
    left: 0;
    top: 55px;
    height: 3rem;
    opacity: 0;
    
    transition: opacity 1s;
    
}