.analytics.open{
    opacity: 1;
    visibility: visible;
}

.analytics {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    inset: 0;
    
    background-color: white;
    display: grid;
    place-content: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40rem;
    padding: 2rem;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: red;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.block-pedido {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
    gap: .5rem;
}

.block-pedido > span {
   font-weight: bold;
   margin-left: 2rem;
   font-size: 3rem;
}

.scrol-analytics {
    height: 40rem;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
   width: 1px;
}

.analytics table {
    font-size: 1.4rem;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.analytics thead {
    position: sticky;
    top: -1px;
   
}

.analytics table td, th {
    border: 1px solid black;
    font-weight: bold;
    padding: 1rem;
}

.analytics table th {
    width: 33%;
    background-color: var(--blue-500);
    color: var(--blue-100);
}

.analytics table tbody > tr:nth-child(even) {
    background-color: var(--blue-100);
}


