* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /* FONTS */
    --font-inter: "Inter", sans-serif;

    /* CORS */
    --blue-500: #464994;
    --blue-300: #9AA6E2;
    --blue-100: #DBE1FF;
}

body {
    font-family: var(--font-inter)  
}


#log {
    display: grid;
    grid-template-rows: 35% 1fr 1fr;
    place-items: center;
    margin: auto;
    max-width: 35rem;
    height: 40rem;
}

#log > img {
    width: 20rem;
    height: 20rem;
    filter: blur(.1rem);
}
header {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 2rem;  
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
    padding: 0 2rem;

}

form, input::placeholder, button {
    font-size: 1.8rem;
}

form .field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input, button {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1.8rem;
}

form input {
    background-color: var(--blue-100);
    border: none;
    border-bottom: .2rem solid var(--blue-500);
}

form button {
    background-color: var(--blue-500);
    border: none;
    border-radius: .8rem;
    color: var(--blue-100);
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: var(--blue-300);
}