div.error.open{
    visibility: visible;
    opacity: 1;

    transform: translateY(0);
}

div.error {
    text-align: center;
    font-size: 1.6rem;

    position: absolute;
    inset: 0;
    height: 4.5rem;
    z-index: 1;
    
    transform: translateY(-46px);
    transition: transform 1s;
    
}