* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    /* FONTS */
    --font-inter: "Inter", sans-serif;

    /* CORS */
    --blue-500: #464994;
    --blue-300: #9AA6E2;
    --blue-100: #DBE1FF;
    --green-300: #33D70A;
}

body {
    font-family: var(--font-inter);
    font-size: 1.8rem;
}

#app {
    position: relative;
    max-width: 40rem;
    margin: auto;
    padding: 3rem;
}

.body-synthetic .back {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

.body-synthetic.input-check {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1rem;
}

.body-synthetic input {
    background-color: var(--blue-100);
    border: none;
    border-bottom: 2px solid var(--blue-500);
}

.body-synthetic input, button {
    padding: 1rem 1rem;
    font-size: 1.8rem;
}

.body-synthetic button {
    display: flex;
    align-items: center;
    place-content: center;
    gap: .5rem;

    height: 5rem;
    background-color: var(--blue-500);
    border: none;
    border-radius: .8rem;
    color: var(--blue-100);
    font-weight: bold;
    cursor: pointer;
}

.body-synthetic.block-transport {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
    gap: 1.6rem;
}

.body-synthetic.block-transport > span {
   margin-left: 2rem;
   font-size: 3rem;
}

.body-synthetic.scrol {
    height: 30rem;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: inset 0px -1px 5px rgba(0, 0, 0, 0.445);
}

::-webkit-scrollbar {
   width: 1px;
}

.body-synthetic table {
    font-size: 1.6rem;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.body-synthetic thead {
    position: sticky;
    top: -1px;
   
}

.body-synthetic table td, th {
    border: 1px solid black;
    font-weight: bold;
    padding: 1rem .2rem;
}

.body-synthetic table th {
    background-color: var(--blue-500);
    color: var(--blue-100);
}

.body-synthetic table tbody > tr:nth-child(even) {
    background-color: var(--blue-100);
}

.body-synthetic button:hover {
    background-color: var(--blue-300);
}

.body-synthetic tbody .detalhes > i {
    font-weight: bold;
    cursor: pointer;
}

.body-synthetic tbody .remove {
    color: rgb(228, 35, 35);
    cursor: pointer;
}

